.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search {
  flex: 1;
  text-align: center;
}

input[type='text'] {
  width: 70%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}
