.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.artist-details-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 20px;
  gap: 20px;
  margin-top: 30px;
}

.artist-info {
  width: 70%;
  position: relative;
 }


.artist-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.artist-text {
  background-color: rgba(51, 51, 51, 0.5) ;
  margin-left: 20px;
  position: absolute;
  padding: 20px;
  top: 10px;

  h1 {
    font-size: 2.5rem;
    color: white;
  }
  p {
    font-size: 2rem;
    color: white;
  }
}

.artist-music {
  flex-grow: 1;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.artist-albums {
  padding: 20px;
  margin-top: 30px;
  width: 80%;
}


.album-card {
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 250px;
  height: 400px;

  img {
    width: 250px;
  }
}

.album-lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.4rem;
}

.track-list-row {
  display: flex;
  justify-content: space-between;
}

.album-title {                
  text-overflow: ellipsis;
}

 
@media (max-width: 768px) {
  .artist-details-container {
    flex-direction: column;
  }
  .artist-info {
    width: 100%;
   }
   .artist-albums {
    padding: 20px;
    margin-top: 30px;
    width: 100%;
  }
}